.*~
*~
.DS_Store
*.log

.vscode

# Vim
Session.vim
.vim/bundle/
.vimrc_sample
.vim/ftdetect/Dockerfile.vim
.vim/syntax/Dockerfile.vim
.vim/snippets/

# Fish local config
.config/fish/config-local.fish

Brewfile.lock.json

nixpkgs/home.nix